<div class="row">
        <div class="col-md-12" align="center">
            <h1>About Us</h1>
        </div>
        <div class="col-md-12"><hr></div>
        <br>
        <div class="col-md-12" style="padding-left:30px; padding-right:30px;">
            <br>
            <p>
                <h3>
                <span style="color:gray">
                    Start by talking about your audience, not yourself
                </span>
            </h3>
            </p>
            <p>
                Human nature dictates that we are, first and foremost,
                concerned with our own problems. While some of us may
                give to charity or volunteer in our spare time, when
                it comes to searching for products or services online,
                we're all about ourselves and what a brand can do for us.
            </p>
            <p>
            <br>
                <h3>
                <span style="color:gray">
                    It all started when...
                </span>
                </h3>
            </p>
            <p>
                This is your opportunity to provide an overview of the history of your business
                and educate your visitor about how you are different from your competitors. What to
                include: An overview about the business including the history of the business,
                information about the business officers, if your a solopreneur a bio and photo,
                any awards or special recognition you have received, and your unique points of
                differentiation. Exmaple of phonnic posse's history.
            </p>
            <p>
                In the cool 80's, the creators of "The Phonic Posse" belonged to a large collective
                of musicians in the UK. These talented people neither belonged to any one band or
                tied themselves to one label. They were a posse of individuals that freelanced their
                skills as session musicians,singers, song writers on a project by project basis.
                This allowed them the flexibility to move within the music industry, to play with some
                high profile artists and become better rounded performers.
            </p>
        </div>
        <div class="col-md-12" style="padding-top:20px"><hr></div>
        <div class="col-md-12" align="center">
            <span style="color:gray">
                <h3>Commendation</h3>
            </span>
            <br>
            <br>
            <div class="col-lg-6 col-md-12" style="padding-bottom: 20px">
                <div class="fb-post" data-href="https://www.facebook.com/renee.walshaw/posts/10153848268963453:0" data-width="500" data-show-text="true">
                    <blockquote cite="https://www.facebook.com/renee.walshaw/posts/10153848268963453:0" class="fb-xfbml-parse-ignore"></blockquote>
                </div>
            </div>
            <br>
            <div class="col-lg-6 col-md-12">
                <div class="fb-post" data-href="https://www.facebook.com/1138673952827504/photos/pcb.1367068373321393/1367068293321401/?type=3&theater" data-width="500" data-show-text="true">
                    <blockquote cite="https://www.facebook.com/1138673952827504/photos/pcb.1367068373321393/1367068293321401/?type=3&theater" class="fb-xfbml-parse-ignore"></blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-12"><hr></div>
        <div class="col-md-12" align="center" style="padding-bottom: 20px">
            <span style="color:gray">
                <h3>IGlaze Team</h3>
            </span>
        </div>
        <div class="col-md-12" style="padding-bottom: 20px">
            <br>
            <div class="col-md-4" align="center">
                <!--<img src="../images/firetruck.jpg" class="img-responsive"> -->
                <img class="img-circle" src="images/firetruck.jpg">
                <br><br>
                <h2>Simon Heazlewood</h2>
                <h4>Chief Executive Officer</h4>
                <br>
            </div>
            <div class="col-md-8">
                <p>
                    <strong>Strong with the Force, is he... an excellent CEO he makes.</strong>
                    As Bourn Creative's fearless leader, Brian manages the business, team, and day-to-day operations.
                </p>
                <p>
                    From restoring classic cars, to remodeling homes, to imagining solutions for the web, Brian
                    is a designer at heart who strives to create simple, seamless experiences on devices of all
                    types and sizes. He leads the UX design and development on all company projects, building
                    the interactions between websites and visitors, and site managers and the WordPress admin.
                </p>
                <blockquote style="margin: 45px;">
                    <p>
                        " Possible quote from you here.
                    </p>
                </blockquote>
                <p>
                    With hundreds of thousands of lines of code under his belt,
                    Brian specializes in all things WordPress, the Genesis Framework,
                    and responsive design.
                </p>
                <p>
                    When not working, Brian loves going on family adventures away
                    from the business of city life, consumes content like it's going
                    out of style (and his iPhone only makes it worse), and pretty much
                    exists on breakfast burritos, smoothies, and coffee. He is a huge
                    Star Wars fan who prefers the Machete Order and owns more Star Wars
                    Legos than any grown man should.
                </p>
            </div>
        </div>
    </div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1852107631689196";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
