<div class="row">
    <div class="container" >
        <div class="col-md-12" align="center">
            <h1>Portfolio</h1>
        </div>
        <div class="col-md-12"><hr></div>
        <br>
        <div class="col-md-12">
            <!--------------------- ITEM STARTS -------------------------->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 itemCol" align="center">
                    <div class="thumbnail itemThumbnail">
                        <div class="container-fluid itemContainer">
                            <div id="item-carousel-1" class="carousel slide" style="width: 100%;">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#item-carousel-1" data-slide-to="0" class="active"></li>
                                    <li data-target="#item-carousel-1" data-slide-to="1"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" >
                                    <div class="item active">
                                        <img src="../images/before_1.jpg" class="itemImg">
                                        <div class="carousel-caption"><h3>Before</h3></div>
                                    </div>
                                    <div class="item">
                                        <img src="../images/after_1.jpg" class="itemImg">
                                        <div class="carousel-caption"><h3>After</h3></div>
                                    </div>
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#item-carousel-1" data-slide="prev">
                                    <span class="icon-prev"></span>
                                </a>
                                <a class="right carousel-control" href="#item-carousel-1" data-slide="next">
                                    <span class="icon-next"></span>
                                </a>
                            </div>
                        </div>
                        <div class="caption itemCaption">
                            <span class="thumbnailTitle"><p class="itemTitle">Test Item Name</p></span>
                            <p class="itemDesc">
                                Test Item Description
                            </p>
                            <br>
                        </div>

                    </div>
                </div>
            <!--------------------- ITEM ENDS ---------------------------->

            <!--------------------- ITEM STARTS -------------------------->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 itemCol" align="center">
                <div class="thumbnail itemThumbnail">
                    <div class="container-fluid itemContainer">
                        <div id="item-carousel-2" class="carousel slide" style="width: 100%;">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#item-carousel-2" data-slide-to="0" class="active"></li>
                                <li data-target="#item-carousel-2" data-slide-to="1"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" >
                                <div class="item active">
                                    <img src="../images/before_2.jpg" class="itemImg">
                                    <div class="carousel-caption"><h3>Before</h3></div>
                                </div>
                                <div class="item">
                                    <img src="../images/after_2.jpg" class="itemImg">
                                    <div class="carousel-caption"><h3>After</h3></div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#item-carousel-2" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#item-carousel-2" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
                    <div class="caption itemCaption">
                        <span class="thumbnailTitle"><p class="itemTitle">Test Item Name</p></span>
                        <p class="itemDesc">
                            Test Item Description...
                        </p>
                        <br>
                    </div>

                </div>
            </div>
            <!--------------------- ITEM ENDS ---------------------------->

            <!--------------------- ITEM STARTS -------------------------->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 itemCol" align="center">
                <div class="thumbnail itemThumbnail">
                    <div class="container-fluid itemContainer">
                        <div id="item-carousel-3" class="carousel slide" style="width: 100%;">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#item-carousel-3" data-slide-to="0" class="active"></li>
                                <li data-target="#item-carousel-3" data-slide-to="1"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" >
                                <div class="item active">
                                    <img src="../images/before_1.jpg" class="itemImg">
                                    <div class="carousel-caption"><h3>Before</h3></div>
                                </div>
                                <div class="item">
                                    <img src="../images/after_1.jpg" class="itemImg">
                                    <div class="carousel-caption"><h3>After</h3></div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#item-carousel-3" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#item-carousel-3" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
                    <div class="caption itemCaption">
                        <span class="thumbnailTitle"><p class="itemTitle">Test Item Name</p></span>
                        <p class="itemDesc">
                            Test Item Description...
                        </p>
                        <br>
                    </div>

                </div>
            </div>
            <!--------------------- ITEM ENDS ---------------------------->
        </div>
        <div class="col-md-12" style="margin-bottom: 20px;">
            <!--------------------- ITEM STARTS -------------------------->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 itemCol" align="center">
                <div class="thumbnail itemThumbnailLand">
                    <div class="container-fluid itemContainerLand">
                        <div id="item-carousel-4" class="carousel slide" style="width: 100%;">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#item-carousel-4" data-slide-to="0" class="active"></li>
                                <li data-target="#item-carousel-4" data-slide-to="1"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" >
                                <div class="item active">
                                    <img src="../images/before_3.jpg" class="itemImgLand">
                                    <div class="carousel-caption"><h3>Before</h3></div>
                                </div>
                                <div class="item">
                                    <img src="../images/after_3.jpg" class="itemImgLand">
                                    <div class="carousel-caption"><h3>After</h3></div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#item-carousel-4" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#item-carousel-4" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
                    <div class="caption itemCaption">
                        <span class="thumbnailTitle"><p class="itemTitle">Test Item Name</p></span>
                        <p class="itemDesc">
                            Test Item Description...
                        </p>
                        <br>
                    </div>

                </div>
            </div>
            <!--------------------- ITEM ENDS ---------------------------->

            <!--------------------- ITEM STARTS -------------------------->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 itemCol" align="center">
                <div class="thumbnail itemThumbnailLand">
                    <div class="container-fluid itemContainerLand">
                        <div id="item-carousel-5" class="carousel slide" style="width: 100%;">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#item-carousel-5" data-slide-to="0" class="active"></li>
                                <li data-target="#item-carousel-5" data-slide-to="1"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" >
                                <div class="item active">
                                    <img src="../images/before_3.jpg" class="itemImgLand">
                                    <div class="carousel-caption"><h3>Before</h3></div>
                                </div>
                                <div class="item">
                                    <img src="../images/after_3.jpg" class="itemImgLand">
                                    <div class="carousel-caption"><h3>After</h3></div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#item-carousel-5" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#item-carousel-5" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
                    <div class="caption itemCaption">
                        <span class="thumbnailTitle"><p class="itemTitle">Test Item Name</p></span>
                        <p class="itemDesc">
                            Test Item Description...
                        </p>
                        <br>
                    </div>

                </div>
            </div>
            <!--------------------- ITEM ENDS ---------------------------->
        </div>
    </div>
</div>

<!-- TODO: Fix carousel controls only switching the initial-->