<!--------- UPPER PARRALAX IMAGE START ------------->
<div class="row" style="margin:0px; height: 85%; border-bottom: 2px solid #e3e3e3;">
    <div class="col-md-12" style="height:100%; padding:0px;">
        <div class="highlight"></div>
        <div class="highlight-text" style="padding-top: 10%;">
            <div class="col-md-6"></div>
            <div class="col-md-4" align="center">
                <div class="highlight-container" style="padding-bottom: 15px; padding-top:5px;">
                    <h3>Welcome to IGlaze</h3>
                    <h1>Glass & Glazing services</h1>
                </div>
                <div class="arrow-down"></div>
            </div>
        </div>
        <div class="parallax"></div>
    </div>
</div>
<!--------- UPPER PARRALAX IMAGE END ------------->

<!--------------- CONTENT START ------------------>
<div class="container middleInnerContainer" style="margin-top:50px ">
    <div class="col-md-12" align="center">
        <h1>Welcome to IGlaze</h1>
        <hr>
    </div>

    <div class="row" style="padding-bottom:30px; margin:0px; padding-top: 15px">
        <div class="col-md-12">
            <div class="col-md-6" style="margin-top: 25px">
                <div class="container-fluid" style="padding:0px">
                    <div id="carousel" class="carousel slide" style="width: 100%; height:50%;">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../images/before_3.jpg">
                            </div>
                            <div class="item">
                                <img src="../images/after_3.jpg">
                            </div>
                            <div class="item">
                                <img src="../images/before_3.jpg">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-6">
                <p>
                    <strong>
                        <span class="text-header">
                            Here at iGlaze, we are an experienced glazing
                            and glass supplies company providing residential​
                            and commercial glass repairs and mirror installations
                            for homes and businesses throughout the greater Auckland area.
                        </span>
                    </strong>
                </p>
                <p>
                    An owner/operator business iGlaze provides competitive
                    prices, a professional service, specialised skills,
                    and a guaranteed high level of workmanship.
                </p>
                <p>
                    We offer great rates and provide WINZ quotes.
                </p>
                <p>
                    <strong>
                        <span class="text-header">
                            With more than 10-years’ industry experience our residential glazing services include:
                        </span>
                    </strong>
                </p>
                <ul>
                    <li>Broken window repairs</li>
                    <li>Installation of pet doors</li>
                    <li>Re-rubber aluminium windows</li>
                    <li>Re-putty timber windows</li>
                    <li>Table tops and shelves</li>
                    <li>Measure and installation of mirrors</li>
                    <li>Kitchen splashbacks</li>
                </ul>
            </div>
        </div>
</div>
    <div class="col-md-12">
        <hr>
    </div>
<div class="row" style="padding-bottom:30px; margin:0px">
    <div class="col-md-12" style="padding-left:30px; padding-right:30px;">
        <br>
        <p>
            <strong>
                <span class="text-header">
                    Heading for more text here...
                </span>
            </strong>
        </p>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
        <p>
            Write more stuff here? Write more stuff here? Write more stuff here? Write more stuff here?
        </p>
        <p>
            <strong>
                <span class="text-header">
                    Contact IGlaze for all your glass repairs and mirror installations. We will work with you
                    regarding any other glass requirements so we can find the best solution to meet your needs.
                </span>
            </strong>
        </p>
    </div>
</div>

</div>
<script>
$(window).scroll(function(){
    $(".highlight").css("opacity", 0.3 + $(window).scrollTop() / 1000);
});
</script>