<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>

<header>
    <% include ../partials/navbar.ejs %>
</header>

<body>
<!-- Content starts -->
<div class="container middleInnerContainer">
    <% include ../partials/about_content.ejs %>
</div>
<!-- Content ends -->

<!-- Footer starts -->
<% include ../partials/footer.ejs %>
<!-- Footer ends -->
</body>

</html>