<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>

    <header>
        <% include ../partials/navbar.ejs %>
    </header>

    <body>
        <div class="container middleInnerContainer">
            <% include ../partials/contact_content.ejs%>
        </div>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>