<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container-full" style="padding-left:0px; padding-right:0px">
            <% include ../partials/navbar.ejs %>
        </div>
        <div class="container middleInnerContainer">
            <% include ../partials/gallery_content.ejs %>
        </div>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>

<!-- TODO: Have footer and content line up
     TODO: Widen content -->