<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>

  <header>
    <% include ../partials/navbar.ejs %>
  </header>

  <body>
  <!-- Content starts -->
  <% include ../partials/home_content.ejs%>
  <!-- Content ends -->

  <!-- Footer starts -->
    <% include ../partials/footer.ejs %>
  <!-- Footer ends -->
  </body>

</html>

<!-- TODO: Refference background -->